@use "../base/variables" as v;
@use "../base/mixins" as m;

.site-header{
    height: 760px;
    @include m.bgImage("../../img/header.jpg",v.$secundario-Opacity);
    .header-grid{
        position: relative;
        top: 20%;
        display: grid;
        place-content: start; 
        
        .logo{
            margin-bottom: 60px;
            img{
                width: 150px;
            }
        }
    }
}

.contenido-header{
    h1{
        color: v.$blanco;

        span{
            display: block;
        }
    }
    .boton-primario{
        @include m.boton(v.$verde,v.$blanco);
    }
}

