@use "../base/variables" as v;
@use "../base/mixins" as m;

.seccion{
    margin-top: 40px;

    .crea-grid{
        @include m.grid(2,30px);
        @include m.telefono{
            display: flex;
            flex-direction: column;
        }
        .contenido{
            display: flex;
            justify-content: center;
            flex-direction: column;

            h2{
                @include m.headingBorder(v.$negro,v.$verde);
                width: 300px;
            }
        }
    }
}