@use "../base/variables" as v;
@use "../base/mixins" as m;

.planes{
    background-color: v.$gris;
    margin-top: 60px;

    .planes__container{
        width: 95%;
        padding: 70px 0;
        display: grid;
        place-items: center;

        .planes__info{
            display: grid;
            place-self: start;

            .planes__title{
                margin-bottom: 0;
                position: absolute;
                margin-top: -25px;
                color: v.$blanco;
            }

            .borde{
                width: 120px;
                border-bottom: solid 15px v.$verde;
                margin-bottom: 20px;

            }
            .planes__texto{
                color: v.$blanco;
                font-size: 22px;

                @include m.telefono{
                    margin-bottom: 30px;
                }
           
            }
        }

    }
}

.planes__grid{
    margin-top: 30px;
    @include m.grid(0,3,1);

    @include m.telefono{
        display: flex;
        flex-direction: column-reverse;
    }

    .plan__negocio{
        background-color: v.$verde;
        border-radius: 20px;    
    }

    .plan-blancon{
        background-color: v.$blanco;
        height: 500px;
    }

    .plan{
        display: grid;
        place-items: center;
        place-self: center;
        padding: 20px 0;
        transition: transform 0.3s ease;
        width: 260px;
        &:hover{
            transform:scale(1.2);
        }

        @include m.telefono{
            margin-bottom: 20px;
        }

        .plan__icon{
            .img__icon{
                height: 150px;
            }
        }

        .plan__info{
            h3{
                text-align: center;
                text-transform: uppercase;
            }
            p{
                text-align: center;
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 20px;
            }

            .lista li{
                list-style: none;
                margin-bottom: 20px;
                text-align: center;
                font-size: 18px;
            }

            .bton{
                background-color: v.$verde;
                display: block;
                text-align: center;
                padding: 15px;
                color: v.$gris;
                font-weight: bold;
                font-size: 20px;
            }
            .btn-dos{
                border: solid 1px v.$blanco;
            }
        }
    }
}